* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial;
    margin: 0;
}
  
header {
    padding: 40px;
    text-align: center;
    background: #f6bd60;
    color: #fff;
}
  
nav {
    display: flex;
    background-color: #84a59d;
    flex-direction: row-reverse; 
}
  
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: right;
}

span {
    text-decoration: none;
    text-decoration-color: black;
    align-items: center;
}

nav li {
    color: white;
    text-decoration: none;
    text-align: center;
}


ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 1;
    background-color: #ffe8d6;
    padding: 20px;
}

h2 {
    width: 20%;
    margin: 20px;
    /* background-color: lightblue;
    border: 3px solid lightblue; */
    /* border-right: 3px solid black; */
}


.contentContainer {
    padding: 40px;

}

/* .contentFoot {
    margin: 3px;
    padding:20px;
    box-sizing: border-box;
} */

section {
    /* flex: 3; */
    background-color: #eed7d4;
    padding: 20px;
}
  

.card header {
    padding: 20px;
}

/* 4 smaller images */
.card img {
    width: 40%;
    margin: 1px;
    /* display: flex; */
    justify-content: center;
    align-items: center;

}
/* fadein images  */
.fadein img{
    opacity:0.5;
    transition: 1s ease;
}

.fadein img:hover{
    opacity:1;
    transition: 1s ease;
    transform:scale(1.05);
}


@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }

    /* Change the header background */
    header {
      background: #772014;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: #bb8588;
    }
}
  
  